.bar {
    width: 1.5vw;
    height: 0.2vw;
    background-color: #333;
    margin: 0.2vw;
    transition: 0.4s;
}
.menu-icon {
    display: inline-block;
    cursor: pointer;
    align-items: center;
}
.keeplogo {
    width: 3.5vw;
    margin: 0.5vw;
}
.keeplogotxt {
    font-size: 1.8vw;
    color: #5f6368;
    font-weight: 500;
    font-family: Arial, Roboto, sans-serif;
}
.headerBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    border-bottom: solid 1px #000000;
}
.MenuBtn {
    outline: none;
    border: none;
    background-color: transparent;
    margin: 1vw;
    padding: 0%;
}
.keeplogoBox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchele {
    width: 2vw;
    height: 2vw;
    color: #5f6368;
    margin-right: 1vw;
}
.searchBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    text-align: center;
    background-color: #f1f3f4;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 0.5vw;
    margin-left: 10vw;
    box-shadow: black;
}
.searchInputEl {
    width: 40vw;
    border: none;
    outline: none;
    height: 4vw;
    background-color: transparent;
    font-size: 1.5vw;
}
.addshadowToSearch {
    box-shadow: 0.5px 0.5px 1px 1px #91969b;
    background-color: #ffffff;
}
.logOutBtn {
    color: black;
    background-color: #feefc3;
    font-size: 1vw;
    margin-left: auto;
    margin-right: 1vw;
    padding: 1vw;
    border: none;
    outline: none;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoutImg {
    width: 1.5vw;
    height: 1.5vw;
    margin: 0.25vw;
    cursor: pointer;
}
